<html>

<head>
    <style>
        .msg-list {
            width: 100%;
        }

        .messenger-container {
            padding: 8px 15px 8px 13px;
            margin: 0 0 25px 35px;
            float: left;
            max-width: 82%;
            background: #f2f2f2;
            border-radius: 10px;
            min-width: 70px;
            position: relative;
            box-sizing: border-box;
        }

        .messenger-container p {
            color: #3d3d3d;
            font-size: 12px;
            margin-bottom: 6px;
            line-height: 18px;
            word-wrap: break-word;
            margin: 0;
        }
    </style>
</head>

<body>

    <div class="msg-list">
        <div class="messenger-container">
            <p>Hi {{name}},</p>
            <p>You requested to reset your password.</p>
            <p> Please, click the link below to reset your password</p>
            <a href="{{link}}">Reset Password</a>
        </div>
    </div>
</body>

</html>